.about-content{
  height: 75vh;
  padding: 5px;
  position: relative;
  overflow: hidden;
  font-size: 15px;
}

.about-content::after {
  content: "";
  background-image: url(/img/back-taylor.jpg);
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  background-position: top;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.about-content p{
  padding: 8px 10px;
}